

.eatery-page {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  background: url('/images/bgshop.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quinlyk Retro Serif', serif;
}



.paper-image {
  position: relative;
  top: 2%;
  width: 70%;
  height: 90%;
  right: 5%;
  
}


.image-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  
  
}

.image-overlay-text {
  position: fixed;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(29, 21, 21);
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  /*background: rgba(0, 0, 0, 0.4);*/
  padding: 16px;
  border-radius: 8px;
  font-size: 20px;
}




.back-button {
  background-color: #2563eb; 
  left: 74%;
  position: absolute;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.back-button:hover {
  background-color: #1e40af; 
  transform: translateY(-2px);
}

.back-button:active {
  background-color: #1e3a8a; 
  transform: translateY(0);
}

.view-button {
  background-color: #ee250f; 
  top: 75%;
  left: 40%;
  position: absolute;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.view-button:hover {
  background-color: #440f0e; 
  transform: translateY(-2px);
}

.view-button:active {
  background-color: #fc1605; 
  transform: translateY(0);
}

.map-button {
  background-color: #21c34f; 
  top: 10%;
  left: 38%;
  position: absolute;
  color: rgb(4, 13, 8);
  padding: 1.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.map-button:hover {
  background-color: #054514; 
  transform: translateY(-2px);
}

.map-button:active {
  background-color: #35bb17; 
  transform: translateY(0);
}