

.eatery-page {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  background: url('/images/bgshop.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quinlyk Retro Serif', serif;
}

.center-image {
  position: absolute;
  z-index: 1;
  max-width: 90%;
  max-height: 90%;
}

.blue-rectangle {
  position: fixed;
  width: 517px;
  height: 120px;
  background-color: #007bff;
  border-radius: 0;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.restaurant-name-box {
    position: fixed;
  top: 225px;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px auto;
  padding: 10px 16px;
  font-size: 30px;
  width: 300px;
  display: block;
  text-align: center;
  /*border: 2px solid #ccc;*/
  border-radius: 6px;
  /*background-color: #f9f9f9;*/
  z-index: 3;
  
  
  font-family: 'Quinlyk Retro Serif', serif;
  color: white;
  
} 

.next-button {
  background-color: #2563eb; 
  left: 74%;
  position: absolute;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.next-button:hover {
  background-color: #1e40af; 
  transform: translateY(-2px);
}

.next-button:active {
  background-color: #1e3a8a; 
  transform: translateY(0);
}

.go-button {
  background-color: #f34713;
  top: 80%;
  left: 45%;
  position: absolute;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.go-button:hover {
  background-color: #912a08; 
  transform: translateY(-2px);
}

.go-button:active {
  background-color: #1e3a8a; 
  transform: translateY(0);
}


/* implement the go button such that we can go to the 
inside eatery page */

/* I think need to do the state carry stuff from the Sample Eatery page
to the Inside Eatery page */

